Repository nwhelan/zmk-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: zmk-keymap-validation, zmk-studio-check

.pre-commit-config.yaml:

# Pre-commit/Prek hooks for ZMK config validation
# Install prek: mise install prek
# Setup: prek install
# Run manually: prek run --all-files

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^keymap-drawer/
      - id: end-of-file-fixer
        exclude: ^keymap-drawer/
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags in build.yaml
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict

  # Custom ZMK validation hooks
  - repo: local
    hooks:
      - id: zmk-keymap-validation
        name: ZMK Keymap Validation
        entry: .claude/scripts/validate-keymap.sh
        language: script
        files: '\.keymap$'
        pass_filenames: true

      - id: zmk-studio-check
        name: ZMK Studio Compliance Check
        entry: .claude/scripts/validate-studio.sh
        language: script
        files: '^build\.yaml$|\.keymap$'
        pass_filenames: false

Refactor forager keymap with homerow mods and new layers
  config/forager.keymap
Due: zmk-keymap-validation, zmk-studio-check

Fix board name for Zephyr 4.1 compatibility
  build.yaml
Due: zmk-studio-check

Enable soft_off feature for Forager keyboard
  config/forager.conf
Due: none

Implement Miryoku-style thumb key layout with combos
  config/forager.keymap
Due: zmk-keymap-validation, zmk-studio-check

[Draw] Implement Miryoku-style thumb key layout with combos
  keymap-drawer/forager.svg
  keymap-drawer/forager.yaml
Due: none

Fix board name for Zephyr 4.1 migration
  build.yaml
Due: zmk-studio-check

Swap left thumb key mappings to space, tab
  config/forager.keymap
Due: zmk-keymap-validation, zmk-studio-check

[Draw] Swap left thumb key mappings to space, tab
  keymap-drawer/forager.svg
  keymap-drawer/forager.yaml
Due: none

Fix thumb key positions and add layer-tap to combos
  config/forager.keymap
Due: zmk-keymap-validation, zmk-studio-check

[Draw] Fix thumb key positions and add layer-tap to combos
  keymap-drawer/forager.svg
  keymap-drawer/forager.yaml
Due: none

Fix Num layer thumb mapping to follow Miryoku convention
  config/forager.keymap
Due: zmk-keymap-validation, zmk-studio-check

[Draw] Fix Num layer thumb mapping to follow Miryoku convention
  keymap-drawer/forager.svg
  keymap-drawer/forager.yaml
Due: none

Fix Fun layer held positions and add Sym layer combo
  config/forager.keymap
Due: zmk-keymap-validation, zmk-studio-check

[Draw] Fix Fun layer held positions and add Sym layer combo
  keymap-drawer/forager.svg
  keymap-drawer/forager.yaml
Due: none

Use left-hand modifiers consistently across all layers
  config/forager.keymap
Due: zmk-keymap-validation, zmk-studio-check

[Draw] Use left-hand modifiers consistently across all layers
  keymap-drawer/forager.svg
  keymap-drawer/forager.yaml
Due: none

Align Forager nav and media layers with Adv360
  config/forager.keymap
Due: zmk-keymap-validation, zmk-studio-check

[Draw] Align Forager nav and media layers with Adv360
  keymap-drawer/forager.svg
  keymap-drawer/forager.yaml
Due: none

Update XIAO BLE build target for ZMK Zephyr 4.1
  build.yaml
Due: zmk-studio-check

Fix thumb behaviors for current ZMK combo handling
  config/forager.keymap
Due: zmk-keymap-validation, zmk-studio-check

[Draw] Fix thumb behaviors for current ZMK combo handling
  keymap-drawer/forager.svg
  keymap-drawer/forager.yaml
Due: none

Use Zephyr 4.1 XIAO board target
  build.yaml
Due: zmk-studio-check

Pin known-good ZMK and module revisions
  config/west.yml
Due: none

Fix NAV/DEL hold-tap parameter binding
  config/forager.keymap
Due: zmk-keymap-validation, zmk-studio-check

[Draw] Fix NAV/DEL hold-tap parameter binding
  keymap-drawer/forager.svg
  keymap-drawer/forager.yaml
Due: none

Remove overlapping center-thumb media combo
  config/forager.keymap
Due: zmk-keymap-validation, zmk-studio-check

Restore original thumb bindings for isolated combo fix
  config/forager.keymap
Due: zmk-keymap-validation, zmk-studio-check

[Draw] Restore original thumb bindings for isolated combo fix
  keymap-drawer/forager.svg
  keymap-drawer/forager.yaml
Due: none

Harmonize Forager layers with Adv360 layout
  config/forager.keymap
Due: zmk-keymap-validation, zmk-studio-check

[Draw] Harmonize Forager layers with Adv360 layout
  keymap-drawer/forager.svg
  keymap-drawer/forager.yaml
Due: none

Match left thumb muscle memory for Nav and Media
  config/forager.keymap
Due: zmk-keymap-validation, zmk-studio-check

[Draw] Match left thumb muscle memory for Nav and Media
  keymap-drawer/forager.svg
  keymap-drawer/forager.yaml
Due: none
